@font-face{font-family:'Ciutadella';font-weight:400;font-style:normal;font-display:swap;src:url(Ciutadella-Regular.woff) format('woff')}
@font-face{font-family:'Ciutadella';font-weight:500;font-style:normal;font-display:swap;src:url(Ciutadella-Medium.woff) format('woff')}
@font-face{font-family:'Ciutadella';font-weight:600;font-style:normal;font-display:swap;src:url(Ciutadella-SemiBold.woff) format('woff')}
